.kms-normal-button{
	width: 100px;
	cursor: pointer;
}

.kms-long-button{
	width: 150px;
	cursor: pointer;
}

.rich-panel-h:body {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
}

a {
	font-size: 14px;
}

.menu_style {
	vertical-align: top;
	width: 180px;
	margin: 0px;
	padding: 0px;
}

.content_style{
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	overflow-y:auto;
}
.rich_panel {
	align: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
    height: 350px;
}

.list_style{
	height:500px;
}

.detail_style{
	overflow-y:auto;height:400px;
}

.rich-datascr-button {
	width: 80px;
}

.rich-datascr-ctrls-separator {
	width: 100px;
}